
.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 80%; 
    gap: 0px 0px; 
    grid-template-areas: 
    "card1 card2 card3 card4"; 
    height: 100vh;
  }

.card1 {     
    grid-area: card1;     
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card2 { 
    grid-area: card2; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card3 { 
    grid-area: card3; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card4 { 
    grid-area: card4; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input[type=text], select {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.list-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0px 0px 5px 0px;
    height:40px;
    display: flex;
    align-items: center;
    width: 100%;
}
.list-group {
    list-style: none;
    padding: 0px 10px 0px 10px;
}

.list-item .delBtn {        
    padding-left: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: rgb(0, 0, 0,0.8);
    color: #fff;
}
.popup .closeBtn {
    position: absolute;
    right: 0;    
}

.popupTodoName {
    display: flex;
}